pytz==2022.4
python-dotenv==0.21.0

pyTelegramBotAPI==4.7.0
keyboa==3.1.0

vkbottle==4.3.10
vk_api==11.9.9

pendulum==2.1.2
psycopg2-binary==2.9.3

pymongo==4.2.0

flask==2.2.2
thefuzz==0.19.0
python-Levenshtein==0.20.5